<ion-view view-title="Notes">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon ion-android-add" ng-click="addItem()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in items" ng-class="{item_closed: item.status == 'closed'}">
                {{item.name}}
                <ion-option-button ng-if="item.status =='opened'" class="button-balanced" ng-click="closeItem(item)">
                    <i class="icon ion-ios-circle-outline"></i>
                </ion-option-button>
                <ion-option-button ng-if="item.status =='closed'" class="button-balanced" ng-click="openItem(item)">
                    <i class="icon ion-ios-checkmark-outline"></i>
                </ion-option-button>
                <ion-option-button class="button-assertive" ng-click="items.$remove(item)">
                    <i class="icon ion-trash-a"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
