<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <!-- Notes Tab -->
  <ion-tab title="Notes" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/notes">
    <ion-nav-view name="tab-notes"></ion-nav-view>
  </ion-tab>

  <!-- Archive Tab -->
  <ion-tab title="Archive" icon-off="ion-ios-box-outline" icon-on="ion-ios-box" href="#/tab/archive">
    <ion-nav-view name="tab-archive"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Info Tab -->
  <ion-tab title="Info" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/info">
    <ion-nav-view name="tab-info"></ion-nav-view>
  </ion-tab>

</ion-tabs>
