# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/

# IDE and editors
nbproject
.editorconfig

# Mac DS_Store Files
.DS_Store

# windows thumbnail cache
Thumbs.db

# Ionic
ionic.project
.io-config.json
